.App {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  color: crimson;
  background-color: rgb(243, 189, 168);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Alfa Slab One', cursive;
  border-bottom: 3mm groove rgba(241, 212, 174, 0.945) ;
}

#container{
 width: 90%;
 height:max-content;
 margin: 5px auto;
 background-color: rgb(243, 189, 168);
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

#container div img{
  width: 200px;
  height: 270px;
  border: 2px bold black;
  padding: 15px;
}

#container div a{
 display: flex;
 justify-content: center;
 color: #1b1a19;
 text-decoration: none;
 font-size: larger;
 font-weight: 350;
}

#container div button{
  display: flex;
  justify-content: center;
 }

 #container .blockElements{
  display: block;
}

#container .blockElements div{
 padding: 3px;
 font-style: bold;
}